$sp-full-width: 390;
$pc-full-width: 1440;
$pc-content-width: 1030;

$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

$production: 1;

$breakpoints: (
  "md": "screen and (min-width: #{$breakpoint-md}px)",
  "lg": "screen and (min-width: #{$breakpoint-lg}px)",
  ) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function vw($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px * 100vw / $sp-full-width
);
}

@function vwt($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px * 100vw / $pc-content-width);
}

@function px2Rem($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px / 16) * 1rem;
}

@function vwp($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px * 100vw / $pc-full-width);
}

//body
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

//header
@mixin flex-center($width, $height, $bg-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: vw($width);
  height: vw($height);
  background-color: $bg-color;
  border-radius: vw(15.5);
  color: #fff;
  font-size: vw(12);

  @include mq() {
    font-size: vwt(21);
  }

  @include mq(lg) {
    font-size: px2Rem(21);

  }
}

.header {
  padding: vw(13) vw(12);

  @include mq() {
    padding: vwt(20) vwt(2) vwt(20) vwt(2);
  }

  @include mq(lg) {
    padding: px2Rem(20) px2Rem(2) px2Rem(20) px2Rem(2);
  }

  &__container {
    max-width: vw(369);
    margin: 0 auto;
    display: flex;
    gap: vw(6);
    align-items: center;

    @include mq() {
      width: vwt(1030);
      justify-content: space-between
    }

    @include mq(lg) {
      width: px2Rem(1030);
    }
  }

  &__img {
    width: vw(72);

    @include mq() {
      width: vwt(100);
    }

    @include mq(lg) {
      width: px2Rem(100);
    }
  }

  &__links {
    display: flex;
    gap: vw(10);
  }

  &__link--primary {
    @include flex-center(107, 31, #fa7da3);

    @include mq() {
      width: vwt(189);
      height: vwt(50);
    }

    @include mq(lg) {
      width: px2Rem(189);
      height: px2Rem(50);
    }
  }

  &__link--secondary {
    @include flex-center(173.77, 31, #49c43d);

    @include mq() {
      width: vwt(300);
      height: vwt(50);
      font-size: vwt(20);
    }

    @include mq(lg) {
      width: px2Rem(300);
      height: px2Rem(50);
      font-size: px2Rem(20);
    }
  }

  &__span {
    font-size: vw(10);

    @include mq() {
      font-size: vwt(17);
    }

    @include mq(lg) {
      font-size: px2Rem(17);

    }
  }
}

//intro
.intro {
  background-color: #fa7da3;
  padding: vw(0);

  &__container {
    background-image: url(/assets/image/intro_sp.png);
    background-repeat: no-repeat;
    background-size: vw(209);
    background-position: left bottom;
    display: flex;
    justify-content: space-between;
    max-width: vw(1028);
    margin: 0 auto;

    @include mq() {
      background-image: url(/assets/image/intro_pc.png);
      background-size: vwt(486);
      padding: vwt(0) vwt(0) vwt(0) vwt(0);
      max-width: vwt(974);
      margin: 0 auto;
    }

    @include mq(lg) {
      background-image: url(/assets/image/intro_pc.png);
      background-size: px2Rem(486);
      padding: px2Rem(0) px2Rem(0) px2Rem(0) px2Rem(0);
      max-width: px2Rem(974);
      margin: 0 auto;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: vw(10) vw(0) vw(10) vw(10);
    width: vw(170);

    @include mq() {
      width: vwt(530);
      margin: 0;
    }

    @include mq(lg) {
      width: px2Rem(530);
      margin: 0;
    }
  }

  &__span {
    font-size: vw(18);
  }

  &__subspan {
    font-size: vw(36);

    @include mq() {
      font-size: vwt(80);
    }

    @include mq(lg) {
      font-size: px2Rem(80);
    }
  }

  &__price {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: vw(10) vw(23) vw(21) vw(26);
    margin: 0 auto;

    @include mq() {
      width: vwt(430);
      height: vwt(222);
      padding: vwt(0) vwt(22) vwt(32) vwt(25);
      justify-content: center;
    }

    @include mq(lg) {
      width: px2Rem(430);
      height: px2Rem(222);
      padding: px2Rem(0) px2Rem(22) px2Rem(32) px2Rem(25);
      justify-content: center;

    }

    &--top {
      background-color: #fff;
      color: #fa7da3;
      width: vw(47);
      margin: 0;
      font-size: vw(13);
      font-weight: 700;
      text-align: center;

      @include mq() {
        width: vwt(105);
        font-size: vwt(29);
      }

      @include mq(lg) {
        width: px2Rem(105);
        font-size: px2Rem(29);
      }
    }

    &--bottom {
      margin: 0;
      font-size: vw(24);
      font-weight: 700;
      color: #fff;

      @include mq() {
        width: vwt(111);
        font-size: vwt(54);
      }

      @include mq(lg) {
        font-size: px2Rem(54);
      }
    }

    &--left {
      @include mq() {
        width: vwt(110);
      }

      @include mq(lg) {
        width: px2Rem(110);
      }


    }

    &--right {
      font-size: vw(76);
      font-weight: 700;
      color: #fffd7a;
      margin: 0;
      line-height: 1;

      @include mq() {
        font-size: vwt(171);
      }

      @include mq(lg) {
        font-size: px2Rem(171);
      }
    }
  }

  &__description {
    font-size: vw(14);
    font-family: Outfit;
    margin: 0 0 vw(20) 0;
    color: #fff;
    text-align: end;
    width: vw(130);

    @include mq() {
      font-size: vwt(26);
      width: vwt(500);
      margin: 0 0 vwt(10) 0;
    }

    @include mq(lg) {
      font-size: px2Rem(26);
      width: px2Rem(500);
      margin: 0 0 px2Rem(20) 0;
    }
  }

  &__list {
    padding: vw(0) vw(15) vw(10) vw(18);

    @include mq() {
      padding: vwt(10) vwt(0) vwt(10) vwt(0);
    }

    @include mq(lg) {
      padding: px2Rem(10) px2Rem(0) px2Rem(10) px2Rem(0);
    }
  }

  &__list-item {
    color: #fff;
    border: 1px solid #fff;
    width: vw(133);
    height: vw(35);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: vw(18);
    margin: vw(0) vw(0) vw(5) vw(0);

    @include mq() {
      width: vwt(425);
      height: vwt(67);
      font-size: vwt(28);
      margin: vwt(0) vwt(0) vwt(30) vwt(0);

    }

    @include mq(lg) {
      width: px2Rem(425);
      height: px2Rem(67);
      font-size: px2Rem(28);
      margin: px2Rem(0) px2Rem(0) px2Rem(30) px2Rem(0);
    }
  }

  &__threespan {
    font-size: vw(10);

    @include mq() {
      font-size: vwt(17);
    }

    @include mq(lg) {
      font-size: px2Rem(17);
    }
  }
}



//note
.note {
  background-color: #fffedd;
  padding: vw(23) vw(19) vw(16) vw(21);

  @include mq() {
    padding: vwt(36) vwt(30) vwt(25) vwt(30);
  }

  @include mq(lg) {
    padding: px2Rem(36) px2Rem(30) px2Rem(25) px2Rem(30);
  }

  &__container {
    max-width: vw(350);
    margin: 0 auto;

    @include mq() {
      max-width: vwt(550);
    }

    @include mq(lg) {
      max-width: px2Rem(550);
    }
  }

  &__heading {
    margin: 0;
    font-size: vw(21);
    color: #fa7da3;
    font-weight: 400;
    text-align: center;
    margin-bottom: vw(13);

    @include mq() {
      font-size: vwt(34);
      margin-bottom: vwt(20);
    }

    @include mq(lg) {
      font-size: px2Rem(34);
      margin-bottom: px2Rem(20);
    }
  }

  &__title {
    width: auto;

    @include mq() {
      width: vwt(550);
      margin: 0 auto;
    }

    @include mq(lg) {
      width: px2Rem(550);
      margin: 0 auto;
    }
  }

  &__txt {
    font-size: vw(21);
    color: #fff;
    background-color: #fa7da3;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;

    @include mq() {
      font-size: vwt(32);
    }

    @include mq(lg) {
      font-size: px2Rem(32);
    }
  }

  &__subtitle {
    font-size: vw(27);
    color: #fa7da3;
    background-color: #fff;
    margin: 0;
    text-align: center;
    border: 1px solid #fa7da3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @include mq() {
      font-size: vwt(43);
    }

    @include mq(lg) {
      font-size: px2Rem(43);
    }
  }

  &__span {
    font-size: vw(42);
    font-weight: 600;

    @include mq() {
      font-size: vwt(67);
    }

    @include mq(lg) {
      font-size: px2Rem(67);
    }
  }

  &__deatail {
    font-size: vw(10);
    text-align: center;
    font-weight: 600;

    @include mq() {
      font-size: vwt(14);
    }

    @include mq(lg) {
      font-size: px2Rem(14);
    }
  }
}

//btn
.btn {
  padding: vw(19) vw(20) vw(30) vw(20);

  &__container {
    max-width: vw(351);
    margin: 0 auto;
    max-width: vw(576);
  }

  &__title {
    font-size: vw(21);
    color: #fa7da3;
    text-align: center;
    margin: vw(0) 0 vw(20) 0;

    @include mq() {
      font-size: vwt(34);
      margin: 0 0 vwt(30) 0;
    }

    @include mq(lg) {
      font-size: px2Rem(34);
      margin: 0 0 px2Rem(30) 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    background-color: #49c43d;
    width: vw(350);
    height: vw(80);
    border-radius: vw(40);
    position: relative;

    @include mq() {
      width: vwt(570);
      height: vwt(130);
      margin: 0 auto;
    }

    @include mq(lg) {
      width: px2Rem(570);
      height: px2Rem(130);
      margin: 0 auto;
    }

  }

  &__click {
    flex: 1;
    text-align: center;
    font-size: vw(21);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    margin: 0;
    position: relative;

    @include mq() {
      font-size: vwt(34);
    }

    @include mq(lg) {
      font-size: px2Rem(34);
    }
  }

  &__arrow {
    position: absolute;
    width: vw(10);
    height: vw(14);
    margin-right: vw(10);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__wrapper {
    width: vw(351);
    margin: 0 auto;
    padding: vw(30) 0 vw(10) 0;
    max-width: vw(575);

    @include mq() {
      padding: vwt(50) 0 0 0;
    }

    @include mq(lg) {
      padding: px2Rem(50) 0 0 0;

    }
  }

  &__txt {
    color: #50bfff;
    font-size: vw(17);
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #50bfff;
    border-bottom: 1px solid #50bfff;
    padding: vw(10) 0;
    margin: 0 vw(60);

    @include mq() {
      font-size: vwt(28);
      padding: vwt(15) 0;
    }

    @include mq(lg) {
      font-size: px2Rem(28);
      padding: px2Rem(15) 0;
    }
  }


  &__details {
    margin-top: vw(15);

    @include mq() {
      width: vwt(590);
      margin: vwt(20) auto 0 auto;
    }

    @include mq(lg) {
      width: px2Rem(590);
    }
  }


  &__detail {
    display: flex;
    align-items: center;
  }


  &__subtitle {
    font-size: vw(14);
    font-weight: 400;
    margin: 0;

    @include mq() {
      font-size: vwt(22.8);
      justify-content: center;
    }

    @include mq(lg) {
      font-size: px2Rem(22.8);
      justify-content: center;
    }
  }

  &__subtxt {
    font-size: vw(14);
    margin: 0;

    @include mq() {
      font-size: vwt(22.8);
    }

    @include mq(lg) {
      font-size: px2Rem(22.8);
    }
  }

  &__span {
    font-size: vw(11);

    @include mq() {
      font-size: vwt(17.8);
    }

    @include mq(lg) {
      font-size: px2Rem(17.8);
    }
  }
}


//point
.point {
  padding: vw(10) vw(0) vw(10) vw(0);
  background-color: #fdf0f5;

  &__container {
    max-width: vw(350);
    margin: 0 auto;
  }

  &__heading {
    text-align: center;
    font-size: vw(18);
    color: #4d2b1b;
    justify-content: center;

    @include mq() {
      font-size: vwt(18);
    }

    @include mq(lg) {
      font-size: px2Rem(18);
    }
  }

  &__img01 {
    width: vw(197);

    @include mq() {
      width: vwt(265);
    }

    @include mq(lg) {
      width: px2Rem(265);
    }
  }

  &__img02 {
    width: vw(37);
    height: vw(46);

    @include mq() {
      width: vwt(50);
      height: vwt(61);
    }

    @include mq(lg) {
      width: px2Rem(50);
      height: px2Rem(61);
    }
  }

  &__span {
    display: flex;
    justify-content: center;
    font-size: vw(32);
    color: #fa7da3;

    @include mq() {
      font-size: vwt(42);
      margin-top: vwt(10);
      margin-bottom: vwt(10);
    }

    @include mq(lg) {
      font-size: px2Rem(42);
      margin-top: px2Rem(10);
      margin-bottom: px2Rem(10);

    }
  }

  &__wrapper {
    max-width: vw(780);
    margin: 0 auto;

    @include mq() {
      max-width: vwt(780);
      margin: 0 auto;
    }

    @include mq(lg) {
      max-width: px2Rem(780);
    }
  }

  &__title {
    font-size: vw(18);
    color: #fff;
    background-color: #fa7da3;
    font-weight: 400;
    text-align: center;
    padding: vw(14) vw(0);
    border-top-left-radius: vw(10);
    border-top-right-radius: vw(10);
    margin: 0;

    @include mq() {
      font-size: vwt(28);
      padding: vwt(20) vwt(0);
      border-top-left-radius: vwt(10);
      border-top-right-radius: vwt(10);
    }

    @include mq(lg) {
      font-size: px2Rem(28);
      padding: px2Rem(20) px2Rem(0);
      border-top-left-radius: px2Rem(10);
      border-top-right-radius: px2Rem(10);
    }
  }

  &__note {
    background-color: #fff;
    padding: vw(19) vw(10) vw(20) vw(10);
    border: 1px solid #fa7da3;
    border-bottom-left-radius: vw(10);
    border-bottom-right-radius: vw(10);
    margin-bottom: vw(31);

    @include mq() {
      margin-bottom: vwt(50);
      border-bottom-left-radius: vwt(10);
      border-bottom-right-radius: vwt(10);
    }

    @include mq(lg) {
      margin-bottom: px2Rem(50);
      border-bottom-left-radius: px2Rem(10);
      border-bottom-right-radius: px2Rem(10);
    }
  }

  &__description {
    font-size: vw(14);
    color: #4d2b1b;
    margin: vw(0) vw(0) vw(10) vw(0);

    @include mq() {
      font-size: vwt(21);
      margin: vwt(0) vwt(0) vwt(20) vwt(0);
      font-weight: 600;
    }

    @include mq(lg) {
      font-size: px2Rem(21);
      margin: px2Rem(0) px2Rem(0) px2Rem(20) px2Rem(0);
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: vw(20);

    @include mq() {
      width: vwt(580);
      margin: 0 auto;
      align-items: center;
    }

    @include mq(lg) {
      width: px2Rem(580);
    }
  }

  &__figure {
    width: vw(143);
    margin: 0;
  }

  &__figcaption {
    width: vw(143);
    text-align: center;
    font-size: vw(14);

    @include mq() {
      font-size: vwt(21);
      width: vwt(250);
      text-align: start;
    }

    @include mq(lg) {
      font-size: px2Rem(21);
      width: px2Rem(250);
    }
  }

  &__description {
    background-color: #fff;
  }

  &__subtitle {
    font-size: vw(18);
    color: #4d2b1b;
    text-align: center;
    margin: vw(10) vw(0) vw(30) vw(0);

    @include mq() {
      font-size: vwt(24);
      margin: vwt(20) vwt(0) vwt(40) vwt(0);
    }

    @include mq(lg) {
      font-size: px2Rem(24);
      margin: px2Rem(20) px2Rem(0) px2Rem(40) px2Rem(0);
    }
  }

  &__figcaptiontwo {
    color: #fa7da3;
    font-size: vw(14);
    font-weight: 600;
    text-align: center;

    @include mq() {
      font-size: vwt(14);
    }

    @include mq(lg) {
      font-size: px2Rem(14);
    }
  }

  &__img {
    width: vw(100);
    height: vw(100);

    @include mq() {
      width: vwt(100);
      height: vwt(100);
    }

    @include mq(lg) {
      width: px2Rem(100);
      height: px2Rem(100);
    }
  }

  &__img03 {
    width: vw(533);
    margin: 0 auto;

    @include mq() {
      width: vwt(230);
      height: vwt(135);
    }

    @include mq(lg) {
      width: px2Rem(230);
      height: px2Rem(135);
    }
  }

  &__img04 {
    width: vw(325);
    margin: 0 auto;

    @include mq() {
      width: vwt(533);
      height: vwt(601);
      margin: 0 auto;
    }

    @include mq(lg) {
      width: px2Rem(533);
      height: px2Rem(601);
    }
  }

  &__imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__figuretwo {
    width: vw(100);
    margin: 0;

    @include mq() {
      width: vwt(100);
    }

    @include mq(lg) {
      width: px2Rem(100);
    }
  }

  &__descriptions {
    font-size: vw(14);
    color: #4d2b1b;
    padding: vw(20) vw(20) vw(20) vw(20);
    background-color: #fff;
    border-bottom-left-radius: vw(10);
    border-bottom-right-radius: vw(10);
    border: 1px solid #fa7da3;

    @include mq() {
      font-size: vwt(21);
      padding: vwt(30) vwt(30) vwt(30) vwt(30);
      border-bottom-left-radius: vwt(10);
      border-bottom-right-radius: vwt(10);
      font-weight: 600;
    }

    @include mq(lg) {
      font-size: px2Rem(21);
      padding: px2Rem(30) px2Rem(30) px2Rem(30) px2Rem(30);
      border-bottom-left-radius: px2Rem(10);
      border-bottom-right-radius: px2Rem(10);
    }
  }
}

//corse
.course {
  padding: vw(20) vw(20) vw(30) vw(20);

  @include mq() {
    padding: vwt(10) vwt(20) vwt(20) vwt(20);
  }

  @include mq(lg) {
    padding: px2Rem(10) px2Rem(20) px2Rem(20) px2Rem(20);
  }

  &__container {
    width: vw(350);
    margin: 0 auto;
  }

  &__heading02 {
    color: #333333;
    font-size: vw(18);
    text-align: center;

    @include mq() {
      font-size: vwt(24);
    }

    @include mq(lg) {
      font-size: px2Rem(24);
    }
  }

  &__title {
    font-size: vw(18);
    color: #fa7da3;
    text-align: center;
    background-color: #fdf0f5;
    font-weight: 400;
    padding: vw(10) vw(0);
    margin: 0;
    border: 1px solid #fa7da3;
    border-top-left-radius: vw(10);
    border-top-right-radius: vw(10);

    @include mq() {
      font-size: vwt(28);
      padding: vwt(5) 0 vwt(5) 0;
      border-top-left-radius: vwt(10);
      border-top-right-radius: vwt(10);
    }

    @include mq(lg) {
      font-size: px2Rem(28);
      paddin: px2Rem(5) 0 px2Rem(5) 0;
      border-top-left-radius: px2Rem(10);
      border-top-right-radius: px2Rem(10);
    }
  }

  &__wrapper {
    @include mq() {
      display: flex;
      justify-content: center;
      gap: vwt(20);
    }

    @include mq(lg) {
      display: flex;
    }
  }

  &__wrapper-item {
    border: 1px solid #fa7da3;
    border-radius: vw(10);
    margin-bottom: vw(20);

    @include mq() {
      width: vwt(350);
      height: vwt(364);
      border-radius: vwt(10);
    }

    @include mq(lg) {
      width: px2Rem(350);
      height: px2Rem(364);
      border-radius: px2Rem(10);
    }
  }

  &__box {
    padding: vw(10) vw(20) vw(10) vw(20);

    @include mq() {
      padding: vwt(15) vwt(8) vwt(10) vwt(8);
    }

    @include mq(lg) {
      padding: px2Rem(15) px2Rem(8) px2Rem(10) px2Rem(8);
    }
  }

  &__img {
    width: vw(312);
    margin: 0 auto;

    @include mq() {
      width: vwt(311);
      height: vwt(210);
      margin: 0 auto;
    }

    @include mq(lg) {
      width: px2Rem(311);
      height: px2Rem(210);
    }

  }

  &__txt {
    font-size: vw(14);
    margin: 0 0 vw(10) 0;

    @include mq() {
      font-size: vwt(18);
      margin: 0 0 vwt(5) 0;
    }

    @include mq(lg) {
      font-size: px2Rem(18);
      margin: 0 0 px2Rem(5) 0;
    }
  }
}

//voice
.voice {
  background-color: #fdf0f5;

  &__container {
    width: vw(350);
    margin: 0 auto;
    padding: vw(20) vw(20) vw(30) vw(20);
  }

  &__title {
    font-size: vw(18);
    color: #fff;
    text-align: center;
    background-color: #fa7da3;
    font-weight: 400;
    padding: vw(10) vw(0);
    margin: 0;
    border-top-left-radius: vw(10);
    border-top-right-radius: vw(10);

    @include mq() {
      font-size: vwt(18);
      padding: vwt(10) 0 vwt(10) 0;
    }

    @include mq(lg) {
      font-size: px2Rem(18);
      padding: px2Rem(10) 0 px2Rem(10) 0;
    }
  }

  &__wrapper {
    width: vw(310);
    margin: 0 auto;

    @include mq() {
      width: vwt(310);
      height: vwt(188);
    }

    @include mq(lg) {
      width: px2Rem(310);
      height: px2Rem(188);
    }
  }

  &__wrap {
    background-color: #fff;
    padding: vw(10) vw(20) vw(10) vw(20);
    border: 1px solid #fa7da3;
    border-bottom-left-radius: vw(10);
    border-bottom-right-radius: vw(10);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vw(10);

    @include mq() {
      padding: vw(0) vw(20) vw(0) vw(20);
    }

    @include mq(lg) {
      padding: vw(0) vw(20) vw(0) vw(20);
    }
  }

  &__img {
    width: vw(86);
    height: vw(111);

    @include mq() {
      width: vwt(86);
      height: vwt(114);
    }

    @include mq(lg) {
      width: px2Rem(86);
      height: px2Rem(114);
    }
  }

  &__txt {
    font-size: vw(16);
    color: #fa7da3;
    font-weight: 600;
    margin: vw(10) 0 0 0;

    @include mq() {
      font-size: vwt(16);
      width: vwt(150);
      margin: vwt(5) 0 0 0;
    }
    @include mq(lg){
      font-size: px2Rem(16);
      width: px2Rem(150);
      margin: px2Rem(5) 0 0 0;
    }
  }

  &__text {
    font-size: vw(14);
    color: #333333;
    margin: vw(5) 0 0 0;
    font-weight: 600;
    width: vw(172);

    @include mq() {
      font-size: vwt(14);
      width: vwt(180);
    }

    @include mq (lg) {
      font-size: px2Rem(14);
      width: px2Rem(180);
    }

  }
}

.swiper {
  overflow: hidden;

  @include mq() {
    overflow: visible;
  }

  @include mq(lg) {
}
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease;

  @include mq() {
    display: flex;
    transform: none;
  }

  @include mq(lg) {
     display: flex;
    justify-content: center;
}
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
    @include mq() {
    flex-shrink: 1;
    width: auto;
    position: relative;
  }

  @include mq(lg) {
     width: px2Rem(310); 
    flex-shrink: 0;
}

}
  .swiper-pagination {
    @include mq(){
        display: none; 
    }
    @include mq(lg){

    }

}

.voice__swiper {
  padding-bottom: 40px;
  position: relative;
   @include mq() {
    width: vwt(310);
    height: auto;
  }
   @include mq(lg) {
    width: px2Rem(310);
    height: auto; 
  }
}
.voice__wrap {
  @include mq() {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: vwt(10) vwt(20);
    gap: vwt(10);
  }
  @include mq(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: px2Rem(10) px2Rem(20);
    gap: px2Rem(10);
  }
}
.voice__img {
  @include mq(lg) {
    width: px2Rem(86);
    height: auto;
    object-fit: contain; // 画像が潰れないように
  }
}

.swiper-pagination-bullet {
  background-color: #ffd2d2;
  opacity: 0.6;

  @include mq() {
    display: none;
  }

  @include mq(lg) {
    display: none;
  }
}


.swiper-pagination-bullet-active {
  background-color: #fa7da3;
  opacity: 1;

  @include mq() {
    display: none;
  }

  @include mq(lg) {
    display: none;
  }
}


.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
  display: inline-block;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}

//fotoer
.footer {
  background-color: #fa7da3;
  height: vw(64);

  &__logo {
    display: block;
    width: vw(75);
    margin: 0 auto;
    padding-top: vw(10);
  }
}