
$sp-full-width: 390; 
$pc-full-width: 1442;
$pc-content-width: 1029;

$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

$production: 1;

$breakpoints: (
  "md": "screen and (min-width: #{$breakpoint-md}px)",
  "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function vw($px) {
  @if $production !=1 {
    @return $px * 1px;
  }

  @return calc($px * 100vw / $sp-full-width);
}

@function px2Rem($px) {
  @if $production !=1 {
    @return $px * 1px;
  }
  @return calc($px / 16) * 1rem;
}

@function vwp($px) {
  @if $production !=1 {
    @return $px * 1px;
  }
  @return calc($px * 100vw / $pc-full-width);
}
//header
@mixin flex-center($width, $height, $bg-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: vw($width);
  height: vw($height);
  background-color: $bg-color;
  border-radius: vw(15.5);
  color: #fff;
  font-size: vw(16);
}
.header {
  &__links {
    display: flex;
    gap: vw(10);
  }
  &__link--primary {
    @include flex-center(107, 31, #fa7da3);
  }
  &__link--secondary {
    @include flex-center(173.77, 31, #49c43d);
  }
  &__span {
    font-size: vw(13.3);
  }
}
